<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>177813401819-pm10th86bentaf9a13rphl6m0j3l68rm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.177813401819-pm10th86bentaf9a13rphl6m0j3l68rm</string>
	<key>API_KEY</key>
	<string>AIzaSyCNF0vVIhnMSpHZc03FDAU4CqfE7FNGCRc</string>
	<key>GCM_SENDER_ID</key>
	<string>177813401819</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.ebuy.gerencia</string>
	<key>PROJECT_ID</key>
	<string>bubbly-domain-316414</string>
	<key>STORAGE_BUCKET</key>
	<string>bubbly-domain-316414.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:177813401819:ios:b3ed3b668ee601df565cfe</string>
</dict>
</plist>